<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.LotteryResultMapper">

    <resultMap id="lotteryResultMapper" type="com.tencent.wxcloudrun.model.LotteryResult">
        <id property="id" column="id"/>
        <result property="lotteryId" column="lotteryId"/>
        <result property="lotteryNo" column="lotteryNo"/>
        <result property="lotteryName" column="lotteryName"/>
        <result property="lotteryRes" column="lotteryRes"/>
        <result property="lotteryDate" column="lotteryDate" javaType="java.time.LocalDate"/>
        <result property="lotteryExDate" column="lotteryExDate" javaType="java.time.LocalDate"/>
        <result property="lotterySaleAmount" column="lotterySaleAmount"/>
        <result property="lotteryPoolAmount" column="lotteryPoolAmount"/>
        <result property="lotteryPrize" column="lotteryPrize"/>
        <result property="gmtCreateTime" column="gmtCreateTime" javaType="java.time.LocalDateTime"/>
        <result property="gmtUpdateTime" column="gmtUpdateTime" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="getLotteryResult" resultMap="lotteryResultMapper" parameterType="java.lang.String,long">
        select id, lotteryId, lotteryNo, lotteryName, lotteryRes, lotteryDate, lotteryExDate, lotterySaleAmount, lotteryPoolAmount, lotteryPrize, gmtCreateTime,gmtUpdateTime
        from lottery_result
        where lotteryId = #{lotteryId}
        and lotteryNo = #{lotteryNo}
    </select>
    <select id="getLotteryResultDefault" resultMap="lotteryResultMapper" parameterType="java.lang.String">
        select id, lotteryId, lotteryNo, lotteryName, lotteryRes, lotteryDate, lotteryExDate, lotterySaleAmount, lotteryPoolAmount, lotteryPrize, gmtCreateTime,gmtUpdateTime
        from lottery_result
        where lotteryId = #{lotteryId}
        order by lotteryNo desc
        limit 1
    </select>

</mapper>
